---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system

---
apiVersion: v1
kind: Namespace
metadata:
  name: networking

---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets

---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-secrets-manager
  namespace: external-secrets
stringData:
  token: {{ ENV.BITWARDEN_AHLA_TOKEN }}

---
apiVersion: v1
kind: Secret
metadata:
  name: ahla-secrets
  namespace: flux-system
  labels:
    kustomize.toolkit.fluxcd.io/name: cluster-apps
    kustomize.toolkit.fluxcd.io/namespace: flux-system
    reconcile.external-secrets.io/managed: "true"
stringData:
  {{ ENV.AHLA_SECRETS | indent(2) | safe }}

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-secrets
  namespace: networking
stringData:
  {{ ENV.CLOUDFLARE_SECRETS | indent(2) | safe }}

---
apiVersion: v1
kind: Secret
metadata:
  name: github-app-auth
  namespace: flux-system
type: Opaque
data:
  githubAppID:             {{ ENV.BOT_APP_ID              }}
  githubAppInstallationID: {{ ENV.BOT_APP_INSTALLATION_ID }}
  githubAppPrivateKey:     {{ ENV.BOT_APP_PRIVATE_KEY     }}
