---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-manual
  namespace: {{ ENV.NS }}
spec:
  trigger:
    manual: restore-once
  kopia:
    repository: {{ ENV.APP }}-volsync-secret
    sourceIdentity:
      sourceName: {{ ENV.APP }}
    destinationPVC: {{ ENV.CLAIM }}
    previous: {{ ENV.PREVIOUS }}
    copyMethod: Direct
    storageClassName: {{ ENV.STORAGE_CLASS_NAME }}
    accessModes: {{ ENV.ACCESS_MODES }}
    capacity: {{ ENV.CAPACITY }}
    moverSecurityContext:
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PGID }}
    enableFileDeletion: true
    cleanupCachePVC: true
    cleanupTempPVC: true
    moverVolumes:
      - mountPath: repository
        volumeSource:
          nfs:
            path: /data/@backup/kopia
            server: chthon.hythm.net
